<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqueletteAutoEcole.Properties.Settings.AutoEcole2018ConnectionString"
            connectionString="Data Source=laptop-d6s22c5v\SQLEXPRESS;Initial Catalog=AutoEcole2018;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SqueletteAutoEcole.Properties.Settings.AutoEcole2018Connection"
            connectionString="Data Source=SRVM-SEIGNER\SQLEXPRESS;Initial Catalog=AutoEcole2018;User ID=btssio2;Password=btssio2"
            providerName="System.Data.SqlClient" />
        <add name="SqueletteAutoEcole.Properties.Settings.DIETMANNConnectionString"
            connectionString="Data Source=SRV-APP-2\SQLSERVERSIO;Initial Catalog=DIETMANN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>